extends layout

block content
    section
        h2 Pre&eacute;entation g&eacute;nerale du livre-jeu

        article
        p   Solitaire (en anglais : Lone Wolf) est un univers d'heroic fantasy qui s'est tout d'abord d&eacute;velopp&eacute; sous la
            forme d'une s&eacute;rie de livres-jeu &eacute;crite par Joe Dever et dont les huit premiers tomes ont &eacute;t&eacute; illustr&eacute;s par
            Gary Chalk.

        p   Le nom de la s&eacute;rie provient de son h&eacute;ros, « Loup Solitaire », dernier repr&eacute;sentant d'un ordre de moines
            guerriers, les Maîtres Kaï1. Au fil des tomes, le personnage lutte contre les forces des T&eacute;n&eacute;bres qui menacent
            sans cesse le monde du Magnamund. Contrairement à l'autre s&eacute;rie-phare de livres-jeux, D&eacute;fis fantastiques, le
            lecteur incarne toujours le même personnage, et b&eacute;n&eacute;ficie de bonus s'il joue les aventures dans l'ordre.
        p   L'univers a ensuite &eacute;t&eacute; d&eacute;velopp&eacute; à travers d'autres formats litt&eacute;raires dont deux s&eacute;ries de romans, Legends
            of Lone Wolf et Chronicles of Magnamund, un jeu de rôle papier et un jeu vid&eacute;o, Joe Dever's Lone Wolf..

    article
        header
            h3 New Library to be built

            p (author, date)

        p This is the story text. This is the story text.

        p This is the story text. This is the story text.

section
    h2 National News

    article
        header
            h3 Snow storm is making travel difficult

            p (author, date)

        p This is the story text. This is the story text.

        p This is the story text. This is the story text.

    article
        header
            h3 Thousands are without power

            p (author, date)

        p This is the story text. This is the story text.

        p This is the story text. This is the story text.

aside
    h2 Be a news reporter

    p If you see news happening - Send us a Text.
