doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include header
        block content
        include form.jade
        p
        input(id="idBtnCommencer", type="button" value="Commencer").buttonNewLine
        include footer.jade