doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include header
        block content
        include form.jade
        include footer.jade